body {
    background-color: antiquewhite;
    margin: 0;
}
h1 {
    color: darkorange;
}
.first {
    position: absolute;
    top: auto;
    margin: 0;
    padding: 10px;
    width: 40%;
    display: inline-block;
}
.second {
   position: absolute;
   right: 200px;
    margin: 0;
    padding: 10px;
    width: 40%;
    display: inline-block;
}